body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.resume-container {       
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px (0,0,0,0.1);
}

header {
    color:black;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.summary {
    margin-top: 20px;
}

.experience, .education, .skills {
    margin-top: 40px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
}